<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Détails du stagiaire -
			{{ stagiaire.nom }}
			{{ stagiaire.prenom }}</title>
		<link rel="stylesheet" href="../src/CSS/details_stagiaire.css">
	</head>
	
	<body>
		<!-- Navbar -->
		<nav>
			<a href="index.php" ><img src="../src/icons/home.png" alt="Accueil">Accueil</a>
			<a href="entreprise.php"><img src="../src/icons/entreprise.png" alt="Entreprise">Entreprise</a>
			<a href="stagiaire.php" class="actif"><img src="../src/icons/stage.png" alt="Stagiaire">Stagiaire</a>
			<a href="inscription.php"><img src="../src/icons/inscrire.png" alt="Inscription">Inscription</a>
			<a href="aide.php"><img src="../src/icons/aide.png" alt="Aide">Aide</a>
			<a href="deconnexion.php"><img src="../src/icons/deconnexion.png" alt="Déconnexion">Déconnexion</a>

		</nav>

		<!-- Contenu principal -->
		<div class="content">
			<h1>Détails du stagiaire :
				{{ stagiaire.nom }}
				{{ stagiaire.prenom }}</h1>

			<!-- Partie Information -->
			<section>
				<h2>Informations</h2>
				<ul>
					<li>
						<strong>Nom de l'étudiant :</strong>
						{{ stagiaire.nom }}
						{{ stagiaire.prenom }}</li>
					<li>
						<strong>Nom de l'entreprise :</strong>
						{{ stagiaire.entreprise }}</li>
					<li>
						<strong>Nom du professeur :</strong>
						{{ stagiaire.prenom_prof }}
						{{ stagiaire.nom_prof }}</li>
					<li>
						<strong>Debut stage:</strong>
						{{ stagiaire.debut_stage }}</li>
					<li>
						<strong>Fin stage:</strong>
						{{ stagiaire.fin_stage }}</li>
					<li>
						<strong>Type stage:</strong>
						{{ stagiaire.type_stage }}</li>
					<li>
						<strong>Description projet:</strong>
						{{ stagiaire.desc_projet }}</li>
					<li>
						<strong>Observation stage:</strong>
						{{ stagiaire.observation_stage }}</li>
				</ul>
			</section>
		</div>
	</body>
</html>
